
.btn {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #6e9fd1;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.candy-list {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

.candy-list li {
  margin-bottom: 10px;
}
.saveDatas .btn1 {
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #cfd6dd;
  color: rgb(48, 36, 36);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.head {
  padding: 20px 40px;
  text-align: center;
  background-color: #d8b8b8;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

.head h2 {
  margin: 0;
  color: #333;
}

.datas {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-group label {
  
  margin-bottom: 5px;
  text-align: left;
}

.form-group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
